#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/hero.jpg');
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* #logoph {
    width: 20%;
} */
